<!-- app/views/search/index.html.erb -->

<link rel="stylesheet" href="/assets/search.css"> 
<body>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Pokemon...">
    </div>
    <div id="resultsContainer" class="results-container"></div>

    <%= javascript_include_tag("pokeFetch.js")  %>
</body>