#main_page_body {
    background-image: url('Frame\ 2.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    text-align:center;
    color:black;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

#pokemon_name_input {
    padding: 8px;
    border: 2px solid #fff;
    background-color: #1e1e1e;
    color: white;
    font-size: 16px;
}
#pokemon_name
{
    margin-top: 65px;
}
#pokemon_type{
margin-top:55px;
}

#pokemon_image {
    width: 300px;
    height: auto;
    image-rendering: pixelated;
    margin: 20px 0;
    mix-blend-mode: multiply;
}

.flavor-text {
    font-size: 18px;
    margin-bottom: 20px;
}