#main_page_body {
    background-image: url('Frame\ 2.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    text-align:center;
    color:black;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

#pokemon_name_input {
    padding: 8px;
    border: 2px solid #fff;
    background-color: #1e1e1e;
    color: white;
    font-size: 16px;
}
#pokemon_name
{
    margin-top: 65px;
}
#pokemon_type{
margin-top:55px;
}

#pokemon_image {
    width: 300px;
    height: auto;
    image-rendering: pixelated;
    margin: 20px 0;
    mix-blend-mode: multiply;
}

.flavor-text {
    font-size: 18px;
    margin-bottom: 20px;
}

  .favorite-button, .unfavorite-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .unfavorite-button {
    background-color: #f44336; /* Red */
  }
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 150px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }